* {
  font-size: 14px;
}

.post-thumbnail {
  width: 75px;
  padding-right: 10px;
}

.sub-li > img {
  width: 20px;
  padding-right: 5px;
  display: inline-block;
}

.header-title {
  font-size: 10px;
  display: block;
  min-height: 57px;
}

.header-bar {
  border-bottom: solid 1px;
  padding: 10px 0;
}

.nav-btns {
  font-size: 18px;
  font-weight: 800;
}

.nav-btns:hover {
  cursor: pointer;
}

.sub-input-center {
  margin: 0 auto;
}

.media-heading {
  font-size: 1.25rem;
}

.list-group-item, .nav-btns {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
}

.list-group-item:hover {
  cursor: pointer;
  background-color: #77b6ff;
}