.post-thumbnail {
  width: 75px;
  padding-right: 10px;
}

.sub-li > img {
  width: 20px;
  padding-right: 5px;
  display: inline-block;
}

* {
  font-size: 14px;
}

.list-group-item {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
}

.list-group-item:hover {
  cursor: pointer;
  background-color: #77b6ff;
}